body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #d3d3d3, #ffffff);
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo {
    width: 70px; /* Adjust size as needed */
    height: auto;
}

h1 {
    text-align: center;
    color: #4CAF50;
    margin-top: 20px;
}

form {
    background: #fff;
    padding: 50px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 900px;
}

.no-border {
    border: none;
    padding: 20px 0; /* Add padding to top and bottom */
}

.no-border legend {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center; /* Center the title */
    width: 100%;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="password"] {
    width: 89%; /* Make input fields the same width as the buttons */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: 2px solid black; /* Black border */
    border-radius: 4px;
    background-color: black; /* Black background */
    color: white; /* White text color */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
    background-color: white; /* White background on hover */
    color: black; /* Black text on hover */
}

#main-content {
    display: flex;
    justify-content: space-between;
    width: 80%; /* Increase to create more space from edges */
    padding: 0 20px; /* Add padding */
}

#left-panel, #right-panel {
    background: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 45%; /* Adjust as needed */
}

h2 {
    text-align: center;
    color: #333;
}

#comment-text {
    font-size: 1.2em;
    margin-top: 20px;
}

#comment-counter {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
}

.comments-container {
    max-width: 600px;
    margin: 0 auto;
}

.comment {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.comment .username {
    font-weight: bold;
}

.comment .message {
    margin-top: 5px;
}

/* Styling for saved session */
.session-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.session-details {
    display: flex;
    flex-direction: column;
}

#saved-session {
    display: none; /* Initially hide the saved session section */
}

