body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #d3d3d3, #ffffff);
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.logo-container {
    position: absolute;
    top: 12px;
    left: 12px;
}

.logo {
    width: 100px;
    height: auto;
}

#continue-session-section {
    max-width: 400px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#profile-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

#profile-username {
    font-size: 1.2em;
    font-weight: bold;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    border: 2px solid black;
    border-radius: 4px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: white;
    color: black;
}

#loading-message {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
}

form, #login-form {
    background: #fff;
    padding: 50px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

#left-panel, #right-panel {
    background: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: calc(50% - 40px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
    color: #333;
}

@media (max-width: 768px) {
    #main-content {
        flex-direction: column;
        align-items: center;
    }

    #left-panel, #right-panel {
        width: 90%;
        margin: 10px;
    }

    form, #continue-session-section {
        padding: 20px;
    }
}

