body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #d3d3d3, #ffffff);
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    width: 100px; /* Adjust size as needed */
    height: auto;
}

h1 {
    text-align: center;
    color: #4CAF50;
    margin-top: 20px;
}

form, #continue-session-section {
    background: #fff;
    padding: 50px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

#profile-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

#profile-username {
    font-size: 1.2em;
    font-weight: bold;
}

.no-border {
    border: none;
    padding: 20px 0; /* Add padding to top and bottom */
}

.no-border legend {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center; /* Center the title */
    width: 100%;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px); /* Make input fields the same width as the buttons */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: calc(100% - 22px);
    padding: 10px;
    border: 2px solid black; /* Black border */
    border-radius: 4px;
    background-color: black; /* Black background */
    color: white; /* White text color */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
    margin: 5px 0;
}

button:hover {
    background-color: white; /* White background on hover */
    color: black; /* Black text on hover */
}

#main-content {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 80px);
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

#left-panel, #right-panel {
    background: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 48%;
    box-sizing: border-box;
}

#monitor-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    color: #333;
}

#comment-text {
    font-size: 1.2em;
    margin-top: 20px;
}

#comment-counter {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
}

@media (max-width: 768px) {
    #main-content {
        flex-direction: column;
        align-items: center;
    }

    #left-panel, #right-panel {
        width: 90%;
        margin: 10px;
    }

    form, #continue-session-section {
        padding: 20px;
    }
}
